.Footer {
  width: 100%;
  height: 3.5rem;
  position: absolute;
  bottom: -6rem;
  left: 0;

  background: $background;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  h4 {
    color: white;
  }
  a {
    font-size: 1.5rem;
    color: white;
  }
}
