h1 {
  font-family: $headFont;
  font-size: 3.5rem;
  color: $background;
}

h2 {
  font-family: $headFont;
  font-size: 2.5rem;
  color: $background;
}

h3 {
  font-family: $headFont;
  font-size: 1.75rem;
  color: $background;
}

h4 {
  font-family: $headFont;
  font-size: 1.25rem;
  color: $background;
}

p {
  font-family: $bodyFont;
  font-size: 1rem;
  color: black;
  line-height: 2em;
  margin: 1em 0;
}

a {
  font-family: $bodyFont;
  font-size: 1rem;
  color: $waterSpout;
}

ul {
  margin: 1em 0 0 0;
  li {
    margin: 0.5em 0;
    font-family: $bodyFont;
    font-size: 1rem;
    color: black;
    line-height: 2em;
  }
}
.multi {
  margin: 2em 0;
  position: relative;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -1em;
    width: 80%;
    height: 0.125rem;
    background: $background;
    display: block;
  }
}

.inset {
  margin: 0;
  h3 {
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  li {
    margin: 0.25rem 2rem;
  }
}
