$mediumGreenSpring: #5bffce;
$nonPhotoBlue: #a4def9;
$waterSpout: #97f9f9;
$platinum: #e3d3e4;
$yankeesBlue: #13293d;
$topaz: #f8c582;

$background: $yankeesBlue;
$primary: $nonPhotoBlue;
$secondary: $mediumGreenSpring;
$tertiary: $waterSpout;
$sideBarOne: $topaz;
$sideBarOneShad: #b3905f;
$sideBarTwo: $nonPhotoBlue;
$sideBarTwoShad: #749eb1;
$sideBarThree: $mediumGreenSpring;
$sideBarThreeShad: #297760;

$headFont: "Poppins", sans-serif;
$bodyFont: "Merriweather", serif;
