@import "./styles/variables";

.App {
  position: relative; //set so footer will position to this
}

//! Render these before the main window
@import "./styles/footer";
@import "./styles/nav";

//! Set to be at least as tall as the gap between
//! the header and footer
.main-window {
  width: 100%;
  margin: 5vh 0 0 0;
  min-height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//!Component and global imports
@import "./styles/button";
@import "./styles/text";

//!Page imports
@import "./styles/home";
@import "./styles/about";
